src/main/resources/OPM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by Paul Groth (IAM-ECS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:complexType name="ProcessId">
	<xs:attribute name="id" type="xs:IDREF"/>
  </xs:complexType>
  <xs:complexType name="ArtifactId">
	<xs:attribute name="id" type="xs:IDREF"/>
  </xs:complexType>
  <xs:complexType name="AgentId">
	<xs:attribute name="id" type="xs:IDREF"/>
  </xs:complexType>
  <xs:complexType name="AccountId">
	<xs:attribute name="id" type="xs:IDREF"/>
  </xs:complexType>

  <xs:complexType name="Process">
	<xs:sequence>
	  <xs:element name="processAttributes" type="ProcessAttributes"/>
	  <xs:element name="account" minOccurs="0" maxOccurs="unbounded" type="AccountId"/>
	</xs:sequence>
	<xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>


	<xs:complexType name="OverlappingAccounts">
		<xs:sequence>
			<xs:element name="overlappings">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="account" minOccurs="2" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WasControlledBy">
		<xs:sequence>
			<xs:element name="effect">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="process">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="role" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="cause">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="agent">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="role" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="noLaterThan" type="xs:time" minOccurs="0"/>
			<xs:element name="noEarlierThan" type="xs:time" minOccurs="0"/>
			<xs:element name="started" type="xs:time" minOccurs="0"/>
			<xs:element name="terminated" type="xs:time" minOccurs="0"/>
			<xs:element name="account" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="xs:IDREF"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name"/>
	</xs:complexType>
	<xs:complexType name="WasDerivedFrom">
		<xs:sequence>
			<xs:element name="effect">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="artifact">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="role" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="cause">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="artifact">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="role" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="account" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="xs:IDREF"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name"/>
	</xs:complexType>
	<xs:complexType name="Used">
		<xs:sequence>
			<xs:element name="effect">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="process">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="role" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="cause">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="process">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="role" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="account" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="xs:IDREF"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="WasGeneratedBy">
		<xs:sequence>
			<xs:element name="effect">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="artifact">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="role" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="cause">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="process">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="role" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="noLaterThan" type="xs:time" minOccurs="0"/>
			<xs:element name="noEarlierThan" type="xs:time" minOccurs="0"/>
			<xs:element name="account" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="xs:IDREF"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name"/>
	</xs:complexType>
	<xs:complexType name="WasTriggeredBy">
		<xs:sequence>
			<xs:element name="effect">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="artifact">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="role" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="cause">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="process">
							<xs:complexType>
								<xs:attribute name="id" type="xs:IDREF"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="role" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="noLaterThan" type="xs:time" minOccurs="0"/>
			<xs:element name="noEarlierThan" type="xs:time" minOccurs="0"/>
			<xs:element name="account" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="xs:IDREF"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name"/>
	</xs:complexType>
	<xs:complexType name="CausalLinks">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="used" type="Used"/>
				<xs:element name="wasGeneratedBy" type="WasGeneratedBy"/>
				<xs:element name="wasTriggeredBy" type="WasTriggeredBy"/>
				<xs:element name="wasDerivedFrom" type="WasDerivedFrom"/>
				<xs:element name="wasControlledBy" type="WasControlledBy"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AgentAttributes">
		<xs:sequence>
			<xs:element name="displayName" type="DisplayName"/>
			<xs:element name="identity" type="Identity"/>
			<xs:element name="address" type="xs:anyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agent">
		<xs:sequence>
			<xs:element name="agentAttributes" type="AgentAttributes"/>
			<xs:element name="account" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="xs:IDREF"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agents">
		<xs:sequence>
			<xs:element name="agent" type="Agent"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reference">
		<xs:sequence>
			<xs:element name="dataAccessor" type="xs:anyType"/>
			<xs:element name="dataLocation" type="xs:anyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Verbatim">
		<xs:sequence>
			<xs:any namespace="##any"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArtifactAttributes">
		<xs:sequence>
			<xs:element name="displayName" type="DisplayName"/>
			<xs:element name="descriptor" type="Descriptor"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Artifact">
		<xs:sequence>
			<xs:element name="artifactAttributes" type="ArtifactAttributes"/>
			<xs:element name="account" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="xs:IDREF"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Artifacts">
		<xs:sequence>
			<xs:element name="artifact" type="Artifact" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Processes">
		<xs:sequence>
			<xs:element name="process" type="Process" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessAttributes">
		<xs:sequence>
			<xs:element name="displayName" type="DisplayName"/>
			<xs:element name="descriptor" type="Descriptor"/>
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="Descriptor">
		<xs:choice>
			<xs:element name="reference" type="Reference"/>
			<xs:element name="verbatim" type="Verbatim"/>
			<xs:element name="uri" type="xs:anyURI"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="Identity">
		<xs:restriction base="xs:anySimpleType"/>
	</xs:simpleType>
	<xs:simpleType name="DisplayName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="AccountAttributes">
		<xs:sequence>
			<xs:element name="displayName" type="DisplayName"/>
			<xs:element name="identity" type="Identity"/>
			<xs:element name="descriptor" type="Descriptor"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Account">
		<xs:sequence>
			<xs:element name="accountAttributes" type="AccountAttributes"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="Accounts">
		<xs:sequence>
			<xs:element name="account" type="Account" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Assertions">
		<xs:sequence>
			<xs:element name="accounts" type="Accounts" minOccurs="0"/>
			<xs:element name="processes" type="Processes" minOccurs="0"/>
			<xs:element name="artifacts" type="Artifacts" minOccurs="0"/>
			<xs:element name="agents" type="Agents" minOccurs="0"/>
			<xs:element name="causalLinks" type="CausalLinks" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="assertions" type="Assertions">
		<xs:annotation>
			<xs:documentation>A set of assertions about the provenance of things</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
